/* Default Light Mode */
body {
    background-color: #fff;
    color: #333;
    transition: background-color 0.3s, color 0.3s;
}

/* Dark Mode */
body.dark-mode {
    background-color: #333;
    color: #fff;
}

/* Styling for button */
#theme-toggle {
    position: fixed;
    top: 20px;
    right: 20px;
    padding: 10px;
    background-color: #007BFF;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

#theme-toggle:hover {
    background-color: #0056b3;
}
