<!doctype html>
{% load static %}
<html lang="en">

<head>
  <!-- Required Meta Tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Document Title, Description, and Author -->
  <title>Console - Free Bootstrap Admin Template</title>
  <meta name="description" content="Console is a Free Bootstrap Admin Template.">
  <meta name="author" content="BootstrapBrain">

  <!-- Favicon and Touch Icons -->
  <link rel="icon" type="image/png" sizes="512x512" href="./assets/favicon/favicon-512x512.png">

  <!-- Google Fonts Files -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">

  <!-- CSS Files -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.css">
  <link rel="stylesheet" href="{% static 'assets/css/console-bsb.css' %}">

  <!-- BSB Head -->
</head>

<body>



  <!-- Main -->
  <main id="main">

    <!-- Section - Bootstrap Brain Component -->
    <!-- Breadcrumb -->
    <section class="py-3 py-md-4 py-xl-5 bg-light">
      <div class="container">
        <div class="row">
          <div class="col-12">
            <h1 class="h4">Stats</h1>
            <nav aria-label="breadcrumb">
              <ol class="breadcrumb m-0 fs-7">
                <li class="breadcrumb-item"><a class="link-primary text-decoration-none" href="{% url 'dashboard:dashboard' %}">Home</a></li>
                <li class="breadcrumb-item">Cards</li>
                <li class="breadcrumb-item active" aria-current="page">Stats</li>
              </ol>
            </nav>
          </div>
        </div>
      </div>
    </section>

    <!-- Section - Bootstrap Brain Component -->
    <section class="pb-3 pb-md-4 pb-xl-5 bg-light">
      <div class="container">
        <div class="row gy-3 gy-md-4">
          <div class="col-12 col-lg-6">
            <div class="row gy-3 gy-md-4">
              <div class="col-12">
                <div class="card widget-card border-light shadow-sm bg-transparent">
                  <div class="card-header bg-white p-4 border-light-subtle">
                    <h5 class="card-title widget-card-title m-0">Revenue Stats</h5>
                  </div>
                  <div class="card-body p-4">
                    <div class="row gy-3 gy-md-4">
                      <div class="col-12 col-sm-6">
                        <div class="card widget-card border-light shadow-sm">
                          <div class="card-body p-4">
                            <div class="row">
                              <div class="col-8">
                                <h5 class="card-title widget-card-title mb-3">Sales</h5>
                                <h4 class="card-subtitle text-body-secondary m-0">$6,820</h4>
                              </div>
                              <div class="col-4">
                                <div class="d-flex justify-content-end">
                                  <div class="lh-1 text-white bg-primary rounded-circle p-3 d-flex align-items-center justify-content-center">
                                    <i class="bi bi-truck fs-4"></i>
                                  </div>
                                </div>
                              </div>
                            </div>
                            <div class="row">
                              <div class="col-12">
                                <div class="d-flex align-items-center mt-3">
                                  <span class="lh-1 me-3 bg-danger-subtle text-danger rounded-circle p-1 d-flex align-items-center justify-content-center">
                                    <i class="bi bi-arrow-right-short bsb-rotate-45"></i>
                                  </span>
                                  <div>
                                    <p class="fs-7 mb-0">-9%</p>
                                    <p class="fs-7 mb-0 text-secondary">since last week</p>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="col-12 col-sm-6">
                        <div class="card widget-card border-light shadow-sm">
                          <div class="card-body p-4">
                            <div class="row">
                              <div class="col-8">
                                <h5 class="card-title widget-card-title mb-3">Earnings</h5>
                                <h4 class="card-subtitle text-body-secondary m-0">$21,900</h4>
                              </div>
                              <div class="col-4">
                                <div class="d-flex justify-content-end">
                                  <div class="lh-1 text-white bg-primary rounded-circle p-3 d-flex align-items-center justify-content-center">
                                    <i class="bi bi-currency-dollar fs-4"></i>
                                  </div>
                                </div>
                              </div>
                            </div>
                            <div class="row">
                              <div class="col-12">
                                <div class="d-flex align-items-center mt-3">
                                  <span class="lh-1 me-3 bg-success-subtle text-success rounded-circle p-1 d-flex align-items-center justify-content-center">
                                    <i class="bi bi-arrow-right-short bsb-rotate-n45"></i>
                                  </span>
                                  <div>
                                    <p class="fs-7 mb-0">+26%</p>
                                    <p class="fs-7 mb-0 text-secondary">since last week</p>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="col-12 col-sm-6">
                        <div class="card widget-card border-light shadow-sm">
                          <div class="card-body p-4">
                            <div class="row">
                              <div class="col-8">
                                <h5 class="card-title widget-card-title mb-3">Visitors</h5>
                                <h4 class="card-subtitle text-body-secondary m-0">3,764</h4>
                              </div>
                              <div class="col-4">
                                <div class="d-flex justify-content-end">
                                  <div class="lh-1 text-white bg-primary rounded-circle p-3 d-flex align-items-center justify-content-center">
                                    <i class="bi bi-person fs-4"></i>
                                  </div>
                                </div>
                              </div>
                            </div>
                            <div class="row">
                              <div class="col-12">
                                <div class="d-flex align-items-center mt-3">
                                  <span class="lh-1 me-3 bg-success-subtle text-success rounded-circle p-1 d-flex align-items-center justify-content-center">
                                    <i class="bi bi-arrow-right-short bsb-rotate-n45"></i>
                                  </span>
                                  <div>
                                    <p class="fs-7 mb-0">+69%</p>
                                    <p class="fs-7 mb-0 text-secondary">since last week</p>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="col-12 col-sm-6">
                        <div class="card widget-card border-light shadow-sm">
                          <div class="card-body p-4">
                            <div class="row">
                              <div class="col-8">
                                <h5 class="card-title widget-card-title mb-3">Orders</h5>
                                <h4 class="card-subtitle text-body-secondary m-0">786</h4>
                              </div>
                              <div class="col-4">
                                <div class="d-flex justify-content-end">
                                  <div class="lh-1 text-white bg-primary rounded-circle p-3 d-flex align-items-center justify-content-center">
                                    <i class="bi bi-cart fs-4"></i>
                                  </div>
                                </div>
                              </div>
                            </div>
                            <div class="row">
                              <div class="col-12">
                                <div class="d-flex align-items-center mt-3">
                                  <span class="lh-1 me-3 bg-danger-subtle text-danger rounded-circle p-1 d-flex align-items-center justify-content-center">
                                    <i class="bi bi-arrow-right-short bsb-rotate-45"></i>
                                  </span>
                                  <div>
                                    <p class="fs-7 mb-0">-21%</p>
                                    <p class="fs-7 mb-0 text-secondary">since last week</p>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-12 col-lg-6">
            <div class="row gy-3 gy-md-4">
              <div class="col-12">
                <div class="card widget-card bg-transparent border-light shadow-sm">
                  <div class="card-header bg-white p-4 border-light-subtle">
                    <h5 class="card-title widget-card-title m-0">Gateway Stats</h5>
                  </div>
                  <div class="card-body p-4">
                    <div class="card widget-card border-light shadow-sm">
                      <div class="card-body p-4">
                        <h5 class="card-title widget-card-title mb-4">Payment Overview</h5>
                        <div class="row gy-4">
                          <div class="col-12">
                            <div class="row align-items-center">
                              <div class="col-8">
                                <div class="d-flex align-items-center">
                                  <div>
                                    <div class="fs-5 bsb-w-50 bsb-h-50 bg-primary-subtle text-primary rounded-2 d-flex align-items-center justify-content-center me-3">
                                      <i class="bi bi-paypal"></i>
                                    </div>
                                  </div>
                                  <div>
                                    <h6 class="m-0">PayPal</h6>
                                    <p class="text-secondary m-0 fs-7">Funds Received</p>
                                  </div>
                                </div>
                              </div>
                              <div class="col-4">
                                <h6 class="text-end">$5,432</h6>
                              </div>
                            </div>
                          </div>
                          <div class="col-12">
                            <div class="row align-items-center">
                              <div class="col-8">
                                <div class="d-flex align-items-center">
                                  <div>
                                    <div class="fs-5 bsb-w-50 bsb-h-50 bg-primary-subtle text-primary rounded-2 d-flex align-items-center justify-content-center me-3">
                                      <i class="bi bi-stripe"></i>
                                    </div>
                                  </div>
                                  <div>
                                    <h6 class="m-0">Stripe</h6>
                                    <p class="text-secondary m-0 fs-7">Invoice Paid</p>
                                  </div>
                                </div>
                              </div>
                              <div class="col-4">
                                <h6 class="text-end">$325</h6>
                              </div>
                            </div>
                          </div>
                          <div class="col-12">
                            <div class="row align-items-center">
                              <div class="col-8">
                                <div class="d-flex align-items-center">
                                  <div>
                                    <div class="fs-5 bsb-w-50 bsb-h-50 bg-primary-subtle text-primary rounded-2 d-flex align-items-center justify-content-center me-3">
                                      <i class="bi bi-credit-card-fill"></i>
                                    </div>
                                  </div>
                                  <div>
                                    <h6 class="m-0">Credit Card</h6>
                                    <p class="text-secondary m-0 fs-7">Top Up</p>
                                  </div>
                                </div>
                              </div>
                              <div class="col-4">
                                <h6 class="text-end">$99</h6>
                              </div>
                            </div>
                          </div>
                          <div class="col-12">
                            <div class="row align-items-center">
                              <div class="col-8">
                                <div class="d-flex align-items-center">
                                  <div>
                                    <div class="fs-5 bsb-w-50 bsb-h-50 bg-primary-subtle text-primary rounded-2 d-flex align-items-center justify-content-center me-3">
                                      <i class="bi bi-bank2"></i>
                                    </div>
                                  </div>
                                  <div>
                                    <h6 class="m-0">Bank</h6>
                                    <p class="text-secondary m-0 fs-7">Check Deposited</p>
                                  </div>
                                </div>
                              </div>
                              <div class="col-4">
                                <h6 class="text-end">$2,432</h6>
                              </div>
                            </div>
                          </div>
                          <div class="col-12">
                            <div class="row align-items-center">
                              <div class="col-8">
                                <div class="d-flex align-items-center">
                                  <div>
                                    <div class="fs-5 bsb-w-50 bsb-h-50 bg-primary-subtle text-primary rounded-2 d-flex align-items-center justify-content-center me-3">
                                      <i class="bi bi-wallet-fill"></i>
                                    </div>
                                  </div>
                                  <div>
                                    <h6 class="m-0">Wallet</h6>
                                    <p class="text-secondary m-0 fs-7">Bill Payment</p>
                                  </div>
                                </div>
                              </div>
                              <div class="col-4">
                                <h6 class="text-end">$750</h6>
                              </div>
                            </div>
                          </div>
                          <div class="col-12">
                            <div class="row align-items-center">
                              <div class="col-8">
                                <div class="d-flex align-items-center">
                                  <div>
                                    <div class="fs-5 bsb-w-50 bsb-h-50 bg-primary-subtle text-primary rounded-2 d-flex align-items-center justify-content-center me-3">
                                      <i class="bi bi-arrow-up-left-circle-fill"></i>
                                    </div>
                                  </div>
                                  <div>
                                    <h6 class="m-0">Refund</h6>
                                    <p class="text-secondary m-0 fs-7">Case Closed</p>
                                  </div>
                                </div>
                              </div>
                              <div class="col-4">
                                <h6 class="text-end">$289</h6>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

  </main>

  <!-- Aside -->
  <aside class="bsb-sidebar-1 offcanvas offcanvas-start" tabindex="-1" id="bsbSidebar1" aria-labelledby="bsbSidebarLabel1">
    <div class="offcanvas-header">
      <a class="sidebar-brand" href="index.html">
        <img src="./assets/img/branding/console-logo.svg" id="bsbSidebarLabel1" class="bsb-tpl-logo" alt="BootstrapBrain Logo">
      </a>
      <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body pt-0">
      <hr class="sidebar-divider mb-3">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link p-3 rounded" data-bs-toggle="collapse" href="#dashboardExamples" role="button" aria-expanded="false" aria-controls="dashboardExamples">
            <div class="nav-link-icon text-primary">
              <i class="bi bi-grid"></i>
            </div>
            <span class="nav-link-text fw-bold">Dashboards</span>
          </a>
          <div class="collapse" id="dashboardExamples">
            <ul class="nav flex-column ms-4">
              <li class="nav-item">
                <a class="nav-link link-secondary" aria-current="page" href="index.html">
                  <div class="nav-link-icon text-primary-emphasis">
                    <i class="bi bi-arrow-right-short"></i>
                  </div>
                  <span class="nav-link-text">eCommerce</span>
                </a>
              </li>
            </ul>
          </div>
        </li>
        <li class="nav-item mt-3">
          <h6 class="py-1 text-secondary text-uppercase fs-7">Tools</h6>
        </li>
        <li class="nav-item">
          <a class="nav-link p-3" data-bs-toggle="collapse" href="#componentExamples" role="button" aria-expanded="false" aria-controls="componentExamples">
            <div class="nav-link-icon text-primary">
              <i class="bi bi-menu-button-wide-fill"></i>
            </div>
            <span class="nav-link-text fw-bold">Components</span>
          </a>
          <div class="collapse" id="componentExamples">
            <ul class="nav flex-column ms-4">
              <li class="nav-item">
                <a class="nav-link link-secondary" aria-current="page" href="components-accordion.html">
                  <div class="nav-link-icon text-primary-emphasis">
                    <i class="bi bi-arrow-right-short"></i>
                  </div>
                  <span class="nav-link-text">Accordion</span>
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link link-secondary" aria-current="page" href="components-alerts.html">
                  <div class="nav-link-icon text-primary-emphasis">
                    <i class="bi bi-arrow-right-short"></i>
                  </div>
                  <span class="nav-link-text">Alerts</span>
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link link-secondary" aria-current="page" href="components-buttons.html">
                  <div class="nav-link-icon text-primary-emphasis">
                    <i class="bi bi-arrow-right-short"></i>
                  </div>
                  <span class="nav-link-text">Buttons</span>
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link link-secondary" aria-current="page" href="components-card.html">
                  <div class="nav-link-icon text-primary-emphasis">
                    <i class="bi bi-arrow-right-short"></i>
                  </div>
                  <span class="nav-link-text">Card</span>
                </a>
              </li>
            </ul>
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link p-3" data-bs-toggle="collapse" href="#formExamples" role="button" aria-expanded="false" aria-controls="formExamples">
            <div class="nav-link-icon text-primary">
              <i class="bi bi-ui-radios"></i>
            </div>
            <span class="nav-link-text fw-bold">Forms</span>
          </a>
          <div class="collapse" id="formExamples">
            <ul class="nav flex-column ms-4">
              <li class="nav-item">
                <a class="nav-link link-secondary" aria-current="page" href="forms-layout.html">
                  <div class="nav-link-icon text-primary-emphasis">
                    <i class="bi bi-arrow-right-short"></i>
                  </div>
                  <span class="nav-link-text">Layouts</span>
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link link-secondary" aria-current="page" href="forms-validation.html">
                  <div class="nav-link-icon text-primary-emphasis">
                    <i class="bi bi-arrow-right-short"></i>
                  </div>
                  <span class="nav-link-text">Validation</span>
                </a>
              </li>
            </ul>
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link p-3" data-bs-toggle="collapse" href="#iconExamples" role="button" aria-expanded="false" aria-controls="iconExamples">
            <div class="nav-link-icon text-primary">
              <i class="bi bi-flower2"></i>
            </div>
            <span class="nav-link-text fw-bold">Icons</span>
          </a>
          <div class="collapse" id="iconExamples">
            <ul class="nav flex-column ms-4">
              <li class="nav-item">
                <a class="nav-link link-secondary" aria-current="page" href="bootstrap-icons.html">
                  <div class="nav-link-icon text-primary-emphasis">
                    <i class="bi bi-arrow-right-short"></i>
                  </div>
                  <span class="nav-link-text">Bootstrap</span>
                </a>
              </li>
            </ul>
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link p-3" data-bs-toggle="collapse" href="#tableExamples" role="button" aria-expanded="false" aria-controls="tableExamples">
            <div class="nav-link-icon text-primary">
              <i class="bi bi-layout-text-window-reverse"></i>
            </div>
            <span class="nav-link-text fw-bold">Tables</span>
          </a>
          <div class="collapse" id="tableExamples">
            <ul class="nav flex-column ms-4">
              <li class="nav-item">
                <a class="nav-link link-secondary" aria-current="page" href="tables-basic.html">
                  <div class="nav-link-icon text-primary-emphasis">
                    <i class="bi bi-arrow-right-short"></i>
                  </div>
                  <span class="nav-link-text">Basic</span>
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link link-secondary" aria-current="page" href="tables-accented.html">
                  <div class="nav-link-icon text-primary-emphasis">
                    <i class="bi bi-arrow-right-short"></i>
                  </div>
                  <span class="nav-link-text">Accented</span>
                </a>
              </li>
            </ul>
          </div>
        </li>
        <li class="nav-item mt-3">
          <h6 class="py-1 text-secondary text-uppercase fs-7">Addons</h6>
        </li>
        <li class="nav-item">
          <a class="nav-link p-3 bg-light rounded active" data-bs-toggle="collapse" href="#cardExamples" role="button" aria-expanded="true" aria-controls="cardExamples">
            <div class="nav-link-icon text-primary">
              <i class="bi bi-card-heading"></i>
            </div>
            <span class="nav-link-text fw-bold">Cards</span>
          </a>
          <div class="collapse show" id="cardExamples">
            <ul class="nav flex-column ms-4">
              <li class="nav-item">
                <a class="nav-link link-primary active" aria-current="page" href="cards-stats.html">
                  <div class="nav-link-icon text-primary-emphasis">
                    <i class="bi bi-arrow-right-short"></i>
                  </div>
                  <span class="nav-link-text">Stats</span>
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link link-secondary" aria-current="page" href="cards-tables.html">
                  <div class="nav-link-icon text-primary-emphasis">
                    <i class="bi bi-arrow-right-short"></i>
                  </div>
                  <span class="nav-link-text">Tables</span>
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link link-secondary" aria-current="page" href="cards-timelines.html">
                  <div class="nav-link-icon text-primary-emphasis">
                    <i class="bi bi-arrow-right-short"></i>
                  </div>
                  <span class="nav-link-text">Timelines</span>
                </a>
              </li>
            </ul>
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link p-3" data-bs-toggle="collapse" href="#calendarExamples" role="button" aria-expanded="false" aria-controls="calendarExamples">
            <div class="nav-link-icon text-primary">
              <i class="bi bi-calendar-event"></i>
            </div>
            <span class="nav-link-text fw-bold">Calendars</span>
          </a>
          <div class="collapse" id="calendarExamples">
            <ul class="nav flex-column ms-4">
              <li class="nav-item">
                <a class="nav-link link-secondary" aria-current="page" href="calendars-basic.html">
                  <div class="nav-link-icon text-primary-emphasis">
                    <i class="bi bi-arrow-right-short"></i>
                  </div>
                  <span class="nav-link-text">Basic</span>
                </a>
              </li>
            </ul>
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link p-3" data-bs-toggle="collapse" href="#chartExamples" role="button" aria-expanded="false" aria-controls="chartExamples">
            <div class="nav-link-icon text-primary">
              <i class="bi bi-bar-chart"></i>
            </div>
            <span class="nav-link-text fw-bold">Charts</span>
          </a>
          <div class="collapse" id="chartExamples">
            <ul class="nav flex-column ms-4">
              <li class="nav-item">
                <a class="nav-link link-secondary" aria-current="page" href="apex-charts.html">
                  <div class="nav-link-icon text-primary-emphasis">
                    <i class="bi bi-arrow-right-short"></i>
                  </div>
                  <span class="nav-link-text">Apex</span>
                </a>
              </li>
            </ul>
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link p-3" data-bs-toggle="collapse" href="#mapExamples" role="button" aria-expanded="false" aria-controls="mapExamples">
            <div class="nav-link-icon text-primary">
              <i class="bi bi-map"></i>
            </div>
            <span class="nav-link-text fw-bold">Maps</span>
          </a>
          <div class="collapse" id="mapExamples">
            <ul class="nav flex-column ms-4">
              <li class="nav-item">
                <a class="nav-link link-secondary" aria-current="page" href="jsvectormap-maps.html">
                  <div class="nav-link-icon text-primary-emphasis">
                    <i class="bi bi-arrow-right-short"></i>
                  </div>
                  <span class="nav-link-text">Vector Maps</span>
                </a>
              </li>
            </ul>
          </div>
        </li>
        <li class="nav-item mt-3">
          <h6 class="py-1 text-secondary text-uppercase fs-7">Extras</h6>
        </li>
        <li class="nav-item">
          <a class="nav-link p-3" data-bs-toggle="collapse" href="#pageExamples" role="button" aria-expanded="false" aria-controls="pageExamples">
            <div class="nav-link-icon text-primary">
              <i class="bi bi-folder"></i>
            </div>
            <span class="nav-link-text fw-bold">Pages</span>
          </a>
          <div class="collapse" id="pageExamples">
            <ul class="nav flex-column ms-4">
              <li class="nav-item">
                <a class="nav-link link-secondary" aria-current="page" href="pages-profile.html">
                  <div class="nav-link-icon text-primary-emphasis">
                    <i class="bi bi-arrow-right-short"></i>
                  </div>
                  <span class="nav-link-text">Profile</span>
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link link-secondary" aria-current="page" href="pages-invoice.html">
                  <div class="nav-link-icon text-primary-emphasis">
                    <i class="bi bi-arrow-right-short"></i>
                  </div>
                  <span class="nav-link-text">Invoice</span>
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link link-secondary" aria-current="page" href="pages-pricing.html">
                  <div class="nav-link-icon text-primary-emphasis">
                    <i class="bi bi-arrow-right-short"></i>
                  </div>
                  <span class="nav-link-text">Pricing</span>
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link link-secondary" aria-current="page" href="pages-contact.html">
                  <div class="nav-link-icon text-primary-emphasis">
                    <i class="bi bi-arrow-right-short"></i>
                  </div>
                  <span class="nav-link-text">Contact</span>
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link link-secondary" aria-current="page" href="pages-faqs.html">
                  <div class="nav-link-icon text-primary-emphasis">
                    <i class="bi bi-arrow-right-short"></i>
                  </div>
                  <span class="nav-link-text">FAQs</span>
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link link-secondary" aria-current="page" href="pages-blank.html">
                  <div class="nav-link-icon text-primary-emphasis">
                    <i class="bi bi-arrow-right-short"></i>
                  </div>
                  <span class="nav-link-text">Blank</span>
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link link-secondary" aria-current="page" href="pages-error-404.html">
                  <div class="nav-link-icon text-primary-emphasis">
                    <i class="bi bi-arrow-right-short"></i>
                  </div>
                  <span class="nav-link-text">Error 404</span>
                </a>
              </li>
            </ul>
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link p-3" data-bs-toggle="collapse" href="#authExamples" role="button" aria-expanded="false" aria-controls="authExamples">
            <div class="nav-link-icon text-primary">
              <i class="bi bi-gear"></i>
            </div>
            <span class="nav-link-text fw-bold">Authentication</span>
          </a>
          <div class="collapse" id="authExamples">
            <ul class="nav flex-column ms-4">
              <li class="nav-item">
                <a class="nav-link link-secondary" aria-current="page" href="auth-login.html">
                  <div class="nav-link-icon text-primary-emphasis">
                    <i class="bi bi-arrow-right-short"></i>
                  </div>
                  <span class="nav-link-text">Log In</span>
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link link-secondary" aria-current="page" href="auth-register.html">
                  <div class="nav-link-icon text-primary-emphasis">
                    <i class="bi bi-arrow-right-short"></i>
                  </div>
                  <span class="nav-link-text">Register</span>
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link link-secondary" aria-current="page" href="auth-reset-password.html">
                  <div class="nav-link-icon text-primary-emphasis">
                    <i class="bi bi-arrow-right-short"></i>
                  </div>
                  <span class="nav-link-text">Reset Password</span>
                </a>
              </li>
            </ul>
          </div>
        </li>
      </ul>
      <hr class="sidebar-divider my-4">
      <div class="bg-light rounded-3 position-relative px-4 pt-5 pb-4 mt-7">
        <div class="bsb-w-80 bsb-h-80 d-flex align-items-center justify-content-center text-bg-primary border border-5 border-white rounded-circle position-absolute top-0 start-50 translate-middle">
          <i class="bi bi-rocket-takeoff lh-1 fs-3"></i>
        </div>
        <div class="text-center">
          <h3 class="h5">Admin Dashboard Templates</h3>
          <p class="fs-7">Browse our Admin Dashboard Templates to unlock possibilities and enjoy exclusive features that will transform your projects to the next level.</p>
          <div class="d-grid m-0">
            <a class="btn btn-primary rounded-pill" href="https://bootstrapbrain.com/template-category/admin-dashboard/" target="_blank" role="button">Browse</a>
          </div>
        </div>
      </div>
    </div>
  </aside>

  <!-- Footer -->
  <footer class="footer py-3 border-top border-light-subtle">
    <div class="container">
      <div class="row">
        <div class="col">
          <div class="py-3">
            Built by <a href="https://bootstrapbrain.com/" class="link-secondary text-decoration-none">BootstrapBrain</a> with <span class="text-accent">&#9829;</span>
          </div>
        </div>
      </div>
    </div>
  </footer>

  <!-- Javascript Files: Vendors -->
  <script src="https://unpkg.com/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>

  <!-- Javascript Files: Controllers -->
  <script src="{% static 'assets/controller/console-bsb.js' %}"></script>

  <!-- BSB Body End -->
</body>

</html>
