
  <!-- Main -->
  <main id="main">

    <!-- Section - Bootstrap Brain Component -->
    <!-- Breadcrumb -->
    <section class="py-3 py-md-4 py-xl-5 bg-light">
      <div class="container">
        <div class="row">
          <div class="col-12">
            <h1 class="h4">Buttons</h1>
            <nav aria-label="breadcrumb">
              <ol class="breadcrumb m-0 fs-7">
                <li class="breadcrumb-item"><a class="link-primary text-decoration-none" href="index.html">Home</a></li>
                <li class="breadcrumb-item">Components</li>
                <li class="breadcrumb-item active" aria-current="page">Buttons</li>
              </ol>
            </nav>
          </div>
        </div>
      </div>
    </section>

    <!-- Section - Bootstrap Brain Component -->
    <section class="pb-3 pb-md-4 pb-xl-5 bg-light">
      <div class="container">
        <div class="row gy-3 gy-md-4">
          <div class="col-12 col-lg-6">
            <div class="row gy-3 gy-md-4">
              <div class="col-12">
                <div class="card widget-card border-light shadow-sm">
                  <div class="card-header bg-transparent p-4 border-light-subtle">
                    <h5 class="card-title widget-card-title m-0">Variants</h5>
                  </div>
                  <div class="card-body p-4">
                    <button type="button" class="btn btn-primary my-2">Primary</button>
                    <button type="button" class="btn btn-secondary my-2">Secondary</button>
                    <button type="button" class="btn btn-success my-2">Success</button>
                    <button type="button" class="btn btn-danger my-2">Danger</button>
                    <button type="button" class="btn btn-warning my-2">Warning</button>
                    <button type="button" class="btn btn-info my-2">Info</button>
                    <button type="button" class="btn btn-light my-2">Light</button>
                    <button type="button" class="btn btn-dark my-2">Dark</button>
                    <button type="button" class="btn btn-link my-2">Link</button>
                  </div>
                </div>
              </div>
              <div class="col-12">
                <div class="card widget-card border-light shadow-sm">
                  <div class="card-header bg-transparent p-4 border-light-subtle">
                    <h5 class="card-title widget-card-title m-0">Button Tags</h5>
                  </div>
                  <div class="card-body p-4">
                    <a class="btn btn-primary my-2" href="#" role="button">Link</a>
                    <button class="btn btn-primary my-2" type="submit">Button</button>
                    <input class="btn btn-primary my-2" type="button" value="Input">
                    <input class="btn btn-primary my-2" type="submit" value="Submit">
                    <input class="btn btn-primary my-2" type="reset" value="Reset">
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-12 col-lg-6">
            <div class="row gy-3 gy-md-4">
              <div class="col-12">
                <div class="card widget-card border-light shadow-sm">
                  <div class="card-header bg-transparent p-4 border-light-subtle">
                    <h5 class="card-title widget-card-title m-0">Outline Buttons</h5>
                  </div>
                  <div class="card-body p-4">
                    <button type="button" class="btn btn-outline-primary my-2">Primary</button>
                    <button type="button" class="btn btn-outline-secondary my-2">Secondary</button>
                    <button type="button" class="btn btn-outline-success my-2">Success</button>
                    <button type="button" class="btn btn-outline-danger my-2">Danger</button>
                    <button type="button" class="btn btn-outline-warning my-2">Warning</button>
                    <button type="button" class="btn btn-outline-info my-2">Info</button>
                    <button type="button" class="btn btn-outline-light my-2 text-dark">Light</button>
                    <button type="button" class="btn btn-outline-dark my-2">Dark</button>
                  </div>
                </div>
              </div>
              <div class="col-12">
                <div class="card widget-card border-light shadow-sm">
                  <div class="card-header bg-transparent p-4 border-light-subtle">
                    <h5 class="card-title widget-card-title m-0">Block Buttons</h5>
                  </div>
                  <div class="card-body p-4">
                    <div class="d-grid gap-2">
                      <button class="btn btn-primary" type="button">Button</button>
                      <button class="btn btn-primary" type="button">Button</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

  </main>

