<!doctype html>
{% load static %}
<html lang="en">

<head>
  <!-- Required Meta Tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Document Title, Description, and Author -->
    <title>Premium Subscription Invoice</title>
    <meta content="Premium memberships are just different" name="description">
    <meta content="JuiceHaven" name="author">

  <!-- Favicon and Touch Icons -->
    <link href="{% static 'img/crout.webp' %}" rel="icon" sizes="512x512" type="image/png">

  <!-- Google Fonts Files -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">

  <!-- CSS Files -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.css">
  <link rel="stylesheet" href="{% static 'assets/css/console-bsb.css' %}">

  <!-- BSB Head -->
</head>

<body>


  <!-- Main -->
  <main id="main">

    <!-- Section - Bootstrap Brain Component -->
    <!-- Breadcrumb -->
    <section class="py-3 py-md-4 py-xl-5 bg-light">
      <div class="container">
        <div class="row">
          <div class="col-12">
            <h1 class="h4">Invoice</h1>
            <nav aria-label="breadcrumb">
              <ol class="breadcrumb m-0 fs-7">
                <li class="breadcrumb-item"><a class="link-primary text-decoration-none" href="{% url 'dashboard:dashboard' %}">Home</a></li>
                <li class="breadcrumb-item">Pages</li>
                <li class="breadcrumb-item active" aria-current="page">Invoice</li>
              </ol>
            </nav>
          </div>
        </div>
      </div>
    </section>

    <!-- Section - Bootstrap Brain Component -->
    <section class="py-3 py-md-4 py-xl-5 bg-white">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-12 col-lg-9 col-xl-8 col-xxl-7">
            <div class="row gy-3 mb-3">
              <div class="col-6">
                <h2 class="text-uppercase text-endx m-0">Invoice</h2>
              </div>
              <div class="col-6">
                <a class="d-block text-end" href="#!">
                    <img alt="Crout Logo" class="img-fluid" height="100" src="{% static 'img/crout.webp' %}" width="50">
                </a>
              </div>
              <div class="col-12">
                <h4>From</h4>
                <address>
                    <strong>{{ user.profile.username }}</strong><br>
                  {{ user.profile.street }}<br>
                  {{ user.profile.address }}<br>
                  {{ user.profile.location }}<br>
                  {{ user.profile.phone }}<br>
                  {{ user.profile.email }}
                </address>
              </div>
            </div>
            <div class="row mb-3">
              <div class="col-12 col-sm-6 col-md-8">
                <h4>Bill To</h4>
                <address>
                  <strong>Christian Outreach Church</strong><br>
                  Berlin<br>
                  Berlin, Frankfurt, 64151 Strasse<br>
                  Deutschland<br>
                  Phone: (816) 741-5790<br>
                  Email: christianoutreach@church.com
                </address>
              </div>
              <div class="col-12 col-sm-6 col-md-4">
                <h4 class="row">
                  <span class="col-6">Invoice #</span>
                  <span class="col-6 text-sm-end">INT-001</span>
                </h4>
                <div class="row">
                  <span class="col-6">Account</span>
                  <span class="col-6 text-sm-end">786-54984</span>
                    <span class="col-6">{{ transaction.transaction_id }}</span>
                  <span class="col-6 text-sm-end">#9742</span>
                  <span class="col-6">Invoice Date</span>
                  <span class="col-6 text-sm-end">12/10/2025</span>
                  <span class="col-6">Due Date</span>
                  <span class="col-6 text-sm-end">18/12/2025</span>
                </div>
              </div>
            </div>
            <div class="row mb-3">
              <div class="col-12">
                <div class="table-responsive">
                  <table class="table table-striped">
                    <thead>
                      <tr>
                        <th scope="col" class="text-uppercase">Qty</th>
                        <th scope="col" class="text-uppercase">Service</th>
                        <th scope="col" class="text-uppercase text-end">Unit Price</th>
                        <th scope="col" class="text-uppercase text-end">Amount</th>
                      </tr>
                    </thead>
                    <tbody class="table-group-divider">
                      <tr>
                        <th scope="row">2</th>
                        <td>Contemporary secular free content</td>
                          <td class="text-end">{{ transaction.amount }}</td>
                          <td class="text-end">{{ transaction.amount }}</td>
                      </tr>
                      <tr>
                        <th scope="row">1</th>
                        <td>No ads</td>
                          <td class="text-end">{{ transaction.amount }}</td>
                          <td class="text-end">{{ transaction.amount }}</td>
                      </tr>
                      <tr>
                        <th scope="row">4</th>
                        <td>Security and extra account protection</td>
                          <td class="text-end">{{ transaction.amount }}</td>
                          <td class="text-end">{{ transaction.amount }}</td>
                      </tr>
                      <tr>
                        <th scope="row">1</th>
                        <td>Devotions and bible studies</td>
                          <td class="text-end">{{ transaction.amount }}</td>
                          <td class="text-end">{{ transaction.amount }}</td>
                      </tr>
                      <tr>
                        <td colspan="3" class="text-end">Subtotal</td>
                          <td class="text-end">{{ transaction.amount }}</td>
                      </tr>
                      <tr>
                        <td colspan="3" class="text-end">VAT (5%)</td>
                          <td class="text-end">{{ transaction.amount }}</td>
                      </tr>
                      <tr>
                        <td colspan="3" class="text-end">Shipping</td>
                        <td class="text-end">15</td>
                      </tr>
                      <tr>
                        <th scope="row" colspan="3" class="text-uppercase text-end">Total</th>
                          <td class="text-end">${{ transaction.amount }}</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-12 text-end">
                <button type="submit" class="btn btn-primary mb-3">Download Invoice</button>
                  <a href="{% url 'payments:request_service' %}">
                      <button class="btn btn-danger mb-3" type="submit">Submit Payment</button>
                  </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

  </main>

  <!-- Footer -->
  <footer class="footer py-3 border-top border-light-subtle">
    <div class="container">
      <div class="row">
        <div class="col">
          <div class="py-3">
              Built by <a class="link-secondary text-decoration-none" href="https://www.crout.com/">Christian
              Outreach</a> with <span class="text-accent">&#9829;</span>
          </div>
        </div>
      </div>
    </div>
  </footer>

  <!-- Javascript Files: Vendors -->
  <script src="https://unpkg.com/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>

  <!-- Javascript Files: Controllers -->
  <script src="{% static 'assets/controller/console-bsb.js' %}"></script>

  <!-- BSB Body End -->
</body>

</html>
