<!doctype html>
<html lang="en">

<head>
  <!-- Required Meta Tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Document Title, Description, and Author -->
  <title>Console - Free Bootstrap Admin Template</title>
  <meta name="description" content="Console is a Free Bootstrap Admin Template.">
  <meta name="author" content="BootstrapBrain">

  <!-- Favicon and Touch Icons -->
  <link rel="icon" type="image/png" sizes="512x512" href="./assets/favicon/favicon-512x512.png">

  <!-- Google Fonts Files -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">

  <!-- CSS Files -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.css">
  <link rel="stylesheet" href="./assets/css/console-bsb.css">

  <!-- BSB Head -->
</head>

<body>

  <!-- Header -->
  <header id="header" class="bg-white border-bottom border-light-subtle sticky-top bsb-tpl-header-sticky">
    <nav class="navbar navbar-expand-md bsb-navbar-3 bsb-tpl-navbar-sticky" data-bsb-sticky-target="#header">
      <div class="container">
        <ul class="navbar-nav">
          <li class="nav-item me-3">
            <a class="nav-link" href="#!" data-bs-toggle="offcanvas" data-bs-target="#bsbSidebar1" aria-controls="bsbSidebar1">
              <i class="bi-filter-left fs-3 lh-1"></i>
            </a>
          </li>
        </ul>
        <a class="navbar-brand" href="index.html">
          <img src="./assets/img/branding/console-logo.svg" class="bsb-tpl-logo" alt="BootstrapBrain Logo">
        </a>
        <button class="navbar-toggler border-0" type="button" data-bs-toggle="collapse" data-bs-target="#bsbNavbar" aria-controls="bsbNavbar" aria-label="Toggle Navigation">
          <i class="bi bi-three-dots"></i>
        </button>
        <div class="collapse navbar-collapse" id="bsbNavbar">
          <ul class="navbar-nav bsb-dropdown-menu-responsive ms-auto align-items-center">
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle bsb-dropdown-toggle-caret-disable" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                <span class="position-relative">
                  <i class="bi bi-search"></i>
                </span>
              </a>
              <div class="dropdown-menu dropdown-menu-md-end bsb-dropdown-animation bsb-fadeIn">
                <form class="row g-1 px-3 py-2 align-items-center">
                  <div class="col-8">
                    <label class="visually-hidden" for="inputSearchNavbar">Search</label>
                    <input type="text" class="form-control" id="inputSearchNavbar">
                  </div>
                  <div class="col-4">
                    <button type="submit" class="btn btn-primary">Search</button>
                  </div>
                </form>
              </div>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle bsb-dropdown-toggle-caret-disable" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                <span class="position-relative">
                  <i class="bi bi-globe"></i>
                </span>
              </a>
              <div class="dropdown-menu dropdown-menu-md-end bsb-dropdown-sm bsb-dropdown-animation bsb-fadeIn">
                <div>
                  <h6 class="dropdown-header fs-7 text-center">Multilingual</h6>
                </div>
                <div>
                  <hr class="dropdown-divider mb-0">
                </div>
                <div class="list-group list-group-flush">
                  <a href="#!" class="list-group-item list-group-item-action" aria-current="true">
                    <div class="row g-0 align-items-center">
                      <div class="col-2">
                        <img src="./assets/img/translation/flag-img-1.svg" class="img-fluid rounded-pill" alt="Arabic">
                      </div>
                      <div class="col-10">
                        <div class="ps-3">
                          <div class="fs-7">Arabic</div>
                        </div>
                      </div>
                    </div>
                  </a>
                  <a href="#!" class="list-group-item list-group-item-action" aria-current="true">
                    <div class="row g-0 align-items-center">
                      <div class="col-2">
                        <img src="./assets/img/translation/flag-img-2.svg" class="img-fluid rounded-pill" alt="Chinese">
                      </div>
                      <div class="col-10">
                        <div class="ps-3">
                          <div class="fs-7">Chinese</div>
                        </div>
                      </div>
                    </div>
                  </a>
                  <a href="#!" class="list-group-item list-group-item-action active" aria-current="true">
                    <div class="row g-0 align-items-center">
                      <div class="col-2">
                        <img src="./assets/img/translation/flag-img-3.svg" class="img-fluid rounded-pill" alt="English">
                      </div>
                      <div class="col-10">
                        <div class="ps-3">
                          <div class="fs-7">English</div>
                        </div>
                      </div>
                    </div>
                  </a>
                  <a href="#!" class="list-group-item list-group-item-action" aria-current="true">
                    <div class="row g-0 align-items-center">
                      <div class="col-2">
                        <img src="./assets/img/translation/flag-img-4.svg" class="img-fluid rounded-pill" alt="French">
                      </div>
                      <div class="col-10">
                        <div class="ps-3">
                          <div class="fs-7">French</div>
                        </div>
                      </div>
                    </div>
                  </a>
                </div>
                <div>
                  <hr class="dropdown-divider mt-0">
                </div>
                <div>
                  <a class="dropdown-item fs-7 text-center" href="#!">See All Languages</a>
                </div>
              </div>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle bsb-dropdown-toggle-caret-disable" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                <span class="position-relative pt-1">
                  <i class="bi bi-chat-left"></i>
                  <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-accent">
                    9
                    <span class="visually-hidden">New Chats</span>
                  </span>
                </span>
              </a>
              <div class="dropdown-menu dropdown-menu-md-end bsb-dropdown-animation bsb-fadeIn">
                <div>
                  <h6 class="dropdown-header fs-7 text-center">9 New Messages</h6>
                </div>
                <div>
                  <hr class="dropdown-divider mb-0">
                </div>
                <div class="list-group list-group-flush">
                  <a href="#!" class="list-group-item list-group-item-action" aria-current="true">
                    <div class="row g-0 align-items-center">
                      <div class="col-2">
                        <img src="./assets/img/chat/chat-img-1.jpg" class="img-fluid rounded-circle" alt="Luna John">
                      </div>
                      <div class="col-10">
                        <div class="ps-3">
                          <div class="text-dark">Luna John</div>
                          <div class="text-secondary mt-1 fs-7">Hello, I'm having trouble with my account.</div>
                          <div class="text-secondary mt-1 fs-7">15m ago</div>
                        </div>
                      </div>
                    </div>
                  </a>
                  <a href="#!" class="list-group-item list-group-item-action">
                    <div class="row g-0 align-items-center">
                      <div class="col-2">
                        <img src="./assets/img/chat/chat-img-2.jpg" class="img-fluid rounded-circle" alt="Mark Smith">
                      </div>
                      <div class="col-10">
                        <div class="ps-3">
                          <div class="text-dark">Mark Smith</div>
                          <div class="text-secondary mt-1 fs-7">Hi, I'm not able to change my password.</div>
                          <div class="text-secondary mt-1 fs-7">23m ago</div>
                        </div>
                      </div>
                    </div>
                  </a>
                </div>
                <div>
                  <hr class="dropdown-divider mt-0">
                </div>
                <div>
                  <a class="dropdown-item fs-7 text-center" href="#!">See All Messages</a>
                </div>
              </div>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle bsb-dropdown-toggle-caret-disable" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                <span class="position-relative pt-1">
                  <i class="bi bi-bell"></i>
                  <span class="p-1 bg-accent border border-light rounded-circle position-absolute top-0 start-100 translate-middle">
                    <span class="visually-hidden">New Notifications</span>
                  </span>
                </span>
              </a>
              <ul class="dropdown-menu dropdown-menu-md-end bsb-dropdown-animation bsb-fadeIn">
                <li>
                  <h6 class="dropdown-header fs-7 text-center">18 Notifications</h6>
                </li>
                <li>
                  <hr class="dropdown-divider">
                </li>
                <li>
                  <a class="dropdown-item d-flex align-items-center" href="#!">
                    <span>
                      <i class="bi bi-envelope-fill me-2"></i>
                      <span class="fs-7">New Messages</span>
                    </span>
                    <span class="fs-7 ms-auto text-secondary">5 mins</span>
                  </a>
                </li>
                <li>
                  <hr class="dropdown-divider">
                </li>
                <li>
                  <a class="dropdown-item d-flex align-items-center" href="#!">
                    <span>
                      <i class="bi bi-person-fill me-2"></i>
                      <span class="fs-7">Friend Requests</span>
                    </span>
                    <span class="fs-7 ms-auto text-secondary">17 hours</span>
                  </a>
                </li>
                <li>
                  <hr class="dropdown-divider">
                </li>
                <li>
                  <a class="dropdown-item d-flex align-items-center" href="#!">
                    <span>
                      <i class="bi bi-file-earmark-fill me-2"></i>
                      <span class="fs-7">New Reports</span>
                    </span>
                    <span class="fs-7 ms-auto text-secondary">3 days</span>
                  </a>
                </li>
                <li>
                  <hr class="dropdown-divider">
                </li>
                <li><a class="dropdown-item fs-7 text-center" href="#!">See All Notifications</a></li>
              </ul>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle bsb-dropdown-toggle-caret-disable" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                <img src="./assets/img/profile/profile-img-1.jpg" width="35" height="35" class="img-fluid rounded-circle" alt="Ethan Leo">
              </a>
              <ul class="dropdown-menu dropdown-menu-md-end bsb-dropdown-animation bsb-fadeIn">
                <li>
                  <h6 class="dropdown-header fs-7 text-center">Welcome, Ethan Leo</h6>
                </li>
                <li>
                  <hr class="dropdown-divider">
                </li>
                <li>
                  <a href="pages-profile.html" class="dropdown-item" aria-current="true">
                    <div class="row g-0 align-items-center">
                      <div class="col-3">
                        <img src="./assets/img/profile/profile-img-1.jpg" width="55" height="55" class="img-fluid rounded-circle" alt="Ethan Leo">
                      </div>
                      <div class="col-9">
                        <div class="ps-3">
                          <div class="text-secondary mt-1 fs-7">Premium Account</div>
                          <div class="text-secondary mt-1 fs-7">leo@example.com</div>
                        </div>
                      </div>
                    </div>
                  </a>
                </li>
                <li>
                  <hr class="dropdown-divider">
                </li>
                <li>
                  <a class="dropdown-item" href="pages-profile.html">
                    <span>
                      <i class="bi bi-person-fill me-2"></i>
                      <span class="fs-7">View Profile</span>
                    </span>
                  </a>
                </li>
                <li>
                  <a class="dropdown-item" href="#!">
                    <span>
                      <i class="bi bi-bell-fill me-2"></i>
                      <span class="fs-7">Notifications</span>
                    </span>
                  </a>
                </li>
                <li>
                  <hr class="dropdown-divider">
                </li>
                <li>
                  <a class="dropdown-item" href="pages-profile.html">
                    <span>
                      <i class="bi bi-gear-fill me-2"></i>
                      <span class="fs-7">Settings & Privacy</span>
                    </span>
                  </a>
                </li>
                <li>
                  <a class="dropdown-item" href="pages-faqs.html">
                    <span>
                      <i class="bi bi-question-circle-fill me-2"></i>
                      <span class="fs-7">Help Center</span>
                    </span>
                  </a>
                </li>
                <li>
                  <hr class="dropdown-divider">
                </li>
                <li>
                  <a class="dropdown-item text-center" href="auth-logout.html">
                    <span>
                      <span class="fs-7">Log Out</span>
                    </span>
                  </a>
                </li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </header>

  <!-- Main -->
  <main id="main">

    <!-- Section - Bootstrap Brain Component -->
    <!-- Breadcrumb -->
    <section class="py-3 py-md-4 py-xl-5 bg-light">
      <div class="container">
        <div class="row">
          <div class="col-12">
            <h1 class="h4">Basic</h1>
            <nav aria-label="breadcrumb">
              <ol class="breadcrumb m-0 fs-7">
                <li class="breadcrumb-item"><a class="link-primary text-decoration-none" href="index.html">Home</a></li>
                <li class="breadcrumb-item">Tables</li>
                <li class="breadcrumb-item active" aria-current="page">Basic</li>
              </ol>
            </nav>
          </div>
        </div>
      </div>
    </section>

    <!-- Section - Bootstrap Brain Component -->
    <section class="pb-3 pb-md-4 pb-xl-5 bg-light">
      <div class="container">
        <div class="row gy-3 gy-md-4">
          <div class="col-12 col-lg-6">
            <div class="row gy-3 gy-md-4">
              <div class="col-12">
                <div class="card widget-card border-light shadow-sm">
                  <div class="card-header bg-transparent p-4 border-light-subtle">
                    <h5 class="card-title widget-card-title m-0">Overview</h5>
                  </div>
                  <div class="card-body p-4">
                    <table class="table">
                      <thead>
                        <tr>
                          <th scope="col">#</th>
                          <th scope="col">First</th>
                          <th scope="col">Last</th>
                          <th scope="col">Handle</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <th scope="row">1</th>
                          <td>Mark</td>
                          <td>Otto</td>
                          <td>@mdo</td>
                        </tr>
                        <tr>
                          <th scope="row">2</th>
                          <td>Jacob</td>
                          <td>Thornton</td>
                          <td>@fat</td>
                        </tr>
                        <tr>
                          <th scope="row">3</th>
                          <td colspan="2">Larry the Bird</td>
                          <td>@twitter</td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-12 col-lg-6">
            <div class="row gy-3 gy-md-4">
              <div class="col-12">
                <div class="card widget-card border-light shadow-sm">
                  <div class="card-header bg-transparent p-4 border-light-subtle">
                    <h5 class="card-title widget-card-title m-0">Variants</h5>
                  </div>
                  <div class="card-body p-4">
                    <table class="table">
                      <thead>
                        <tr>
                          <th scope="col">Class</th>
                          <th scope="col">Heading</th>
                          <th scope="col">Heading</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <th scope="row">Default</th>
                          <td>Cell</td>
                          <td>Cell</td>
                        </tr>

                        <tr class="table-primary">
                          <th scope="row">Primary</th>
                          <td>Cell</td>
                          <td>Cell</td>
                        </tr>
                        <tr class="table-secondary">
                          <th scope="row">Secondary</th>
                          <td>Cell</td>
                          <td>Cell</td>
                        </tr>
                        <tr class="table-success">
                          <th scope="row">Success</th>
                          <td>Cell</td>
                          <td>Cell</td>
                        </tr>
                        <tr class="table-danger">
                          <th scope="row">Danger</th>
                          <td>Cell</td>
                          <td>Cell</td>
                        </tr>
                        <tr class="table-warning">
                          <th scope="row">Warning</th>
                          <td>Cell</td>
                          <td>Cell</td>
                        </tr>
                        <tr class="table-info">
                          <th scope="row">Info</th>
                          <td>Cell</td>
                          <td>Cell</td>
                        </tr>
                        <tr class="table-light">
                          <th scope="row">Light</th>
                          <td>Cell</td>
                          <td>Cell</td>
                        </tr>
                        <tr class="table-dark">
                          <th scope="row">Dark</th>
                          <td>Cell</td>
                          <td>Cell</td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

  </main>

  <!-- Aside -->
  <aside class="bsb-sidebar-1 offcanvas offcanvas-start" tabindex="-1" id="bsbSidebar1" aria-labelledby="bsbSidebarLabel1">
    <div class="offcanvas-header">
      <a class="sidebar-brand" href="index.html">
        <img src="./assets/img/branding/console-logo.svg" id="bsbSidebarLabel1" class="bsb-tpl-logo" alt="BootstrapBrain Logo">
      </a>
      <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body pt-0">
      <hr class="sidebar-divider mb-3">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link p-3 rounded" data-bs-toggle="collapse" href="#dashboardExamples" role="button" aria-expanded="false" aria-controls="dashboardExamples">
            <div class="nav-link-icon text-primary">
              <i class="bi bi-grid"></i>
            </div>
            <span class="nav-link-text fw-bold">Dashboards</span>
          </a>
          <div class="collapse" id="dashboardExamples">
            <ul class="nav flex-column ms-4">
              <li class="nav-item">
                <a class="nav-link link-secondary" aria-current="page" href="index.html">
                  <div class="nav-link-icon text-primary-emphasis">
                    <i class="bi bi-arrow-right-short"></i>
                  </div>
                  <span class="nav-link-text">eCommerce</span>
                </a>
              </li>
            </ul>
          </div>
        </li>
        <li class="nav-item mt-3">
          <h6 class="py-1 text-secondary text-uppercase fs-7">Tools</h6>
        </li>
        <li class="nav-item">
          <a class="nav-link p-3" data-bs-toggle="collapse" href="#componentExamples" role="button" aria-expanded="false" aria-controls="componentExamples">
            <div class="nav-link-icon text-primary">
              <i class="bi bi-menu-button-wide-fill"></i>
            </div>
            <span class="nav-link-text fw-bold">Components</span>
          </a>
          <div class="collapse" id="componentExamples">
            <ul class="nav flex-column ms-4">
              <li class="nav-item">
                <a class="nav-link link-secondary" aria-current="page" href="components-accordion.html">
                  <div class="nav-link-icon text-primary-emphasis">
                    <i class="bi bi-arrow-right-short"></i>
                  </div>
                  <span class="nav-link-text">Accordion</span>
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link link-secondary" aria-current="page" href="components-alerts.html">
                  <div class="nav-link-icon text-primary-emphasis">
                    <i class="bi bi-arrow-right-short"></i>
                  </div>
                  <span class="nav-link-text">Alerts</span>
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link link-secondary" aria-current="page" href="components-buttons.html">
                  <div class="nav-link-icon text-primary-emphasis">
                    <i class="bi bi-arrow-right-short"></i>
                  </div>
                  <span class="nav-link-text">Buttons</span>
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link link-secondary" aria-current="page" href="components-card.html">
                  <div class="nav-link-icon text-primary-emphasis">
                    <i class="bi bi-arrow-right-short"></i>
                  </div>
                  <span class="nav-link-text">Card</span>
                </a>
              </li>
            </ul>
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link p-3" data-bs-toggle="collapse" href="#formExamples" role="button" aria-expanded="false" aria-controls="formExamples">
            <div class="nav-link-icon text-primary">
              <i class="bi bi-ui-radios"></i>
            </div>
            <span class="nav-link-text fw-bold">Forms</span>
          </a>
          <div class="collapse" id="formExamples">
            <ul class="nav flex-column ms-4">
              <li class="nav-item">
                <a class="nav-link link-secondary" aria-current="page" href="forms-layout.html">
                  <div class="nav-link-icon text-primary-emphasis">
                    <i class="bi bi-arrow-right-short"></i>
                  </div>
                  <span class="nav-link-text">Layouts</span>
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link link-secondary" aria-current="page" href="forms-validation.html">
                  <div class="nav-link-icon text-primary-emphasis">
                    <i class="bi bi-arrow-right-short"></i>
                  </div>
                  <span class="nav-link-text">Validation</span>
                </a>
              </li>
            </ul>
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link p-3" data-bs-toggle="collapse" href="#iconExamples" role="button" aria-expanded="false" aria-controls="iconExamples">
            <div class="nav-link-icon text-primary">
              <i class="bi bi-flower2"></i>
            </div>
            <span class="nav-link-text fw-bold">Icons</span>
          </a>
          <div class="collapse" id="iconExamples">
            <ul class="nav flex-column ms-4">
              <li class="nav-item">
                <a class="nav-link link-secondary" aria-current="page" href="bootstrap-icons.html">
                  <div class="nav-link-icon text-primary-emphasis">
                    <i class="bi bi-arrow-right-short"></i>
                  </div>
                  <span class="nav-link-text">Bootstrap</span>
                </a>
              </li>
            </ul>
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link p-3 bg-light rounded active" data-bs-toggle="collapse" href="#tableExamples" role="button" aria-expanded="true" aria-controls="tableExamples">
            <div class="nav-link-icon text-primary">
              <i class="bi bi-layout-text-window-reverse"></i>
            </div>
            <span class="nav-link-text fw-bold">Tables</span>
          </a>
          <div class="collapse show" id="tableExamples">
            <ul class="nav flex-column ms-4">
              <li class="nav-item">
                <a class="nav-link link-primary active" aria-current="page" href="tables-basic.html">
                  <div class="nav-link-icon text-primary-emphasis">
                    <i class="bi bi-arrow-right-short"></i>
                  </div>
                  <span class="nav-link-text">Basic</span>
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link link-secondary" aria-current="page" href="tables-accented.html">
                  <div class="nav-link-icon text-primary-emphasis">
                    <i class="bi bi-arrow-right-short"></i>
                  </div>
                  <span class="nav-link-text">Accented</span>
                </a>
              </li>
            </ul>
          </div>
        </li>
        <li class="nav-item mt-3">
          <h6 class="py-1 text-secondary text-uppercase fs-7">Addons</h6>
        </li>
        <li class="nav-item">
          <a class="nav-link p-3" data-bs-toggle="collapse" href="#cardExamples" role="button" aria-expanded="false" aria-controls="cardExamples">
            <div class="nav-link-icon text-primary">
              <i class="bi bi-card-heading"></i>
            </div>
            <span class="nav-link-text fw-bold">Cards</span>
          </a>
          <div class="collapse" id="cardExamples">
            <ul class="nav flex-column ms-4">
              <li class="nav-item">
                <a class="nav-link link-secondary" aria-current="page" href="cards-stats.html">
                  <div class="nav-link-icon text-primary-emphasis">
                    <i class="bi bi-arrow-right-short"></i>
                  </div>
                  <span class="nav-link-text">Stats</span>
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link link-secondary" aria-current="page" href="cards-tables.html">
                  <div class="nav-link-icon text-primary-emphasis">
                    <i class="bi bi-arrow-right-short"></i>
                  </div>
                  <span class="nav-link-text">Tables</span>
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link link-secondary" aria-current="page" href="cards-timelines.html">
                  <div class="nav-link-icon text-primary-emphasis">
                    <i class="bi bi-arrow-right-short"></i>
                  </div>
                  <span class="nav-link-text">Timelines</span>
                </a>
              </li>
            </ul>
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link p-3" data-bs-toggle="collapse" href="#calendarExamples" role="button" aria-expanded="false" aria-controls="calendarExamples">
            <div class="nav-link-icon text-primary">
              <i class="bi bi-calendar-event"></i>
            </div>
            <span class="nav-link-text fw-bold">Calendars</span>
          </a>
          <div class="collapse" id="calendarExamples">
            <ul class="nav flex-column ms-4">
              <li class="nav-item">
                <a class="nav-link link-secondary" aria-current="page" href="calendars-basic.html">
                  <div class="nav-link-icon text-primary-emphasis">
                    <i class="bi bi-arrow-right-short"></i>
                  </div>
                  <span class="nav-link-text">Basic</span>
                </a>
              </li>
            </ul>
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link p-3" data-bs-toggle="collapse" href="#chartExamples" role="button" aria-expanded="false" aria-controls="chartExamples">
            <div class="nav-link-icon text-primary">
              <i class="bi bi-bar-chart"></i>
            </div>
            <span class="nav-link-text fw-bold">Charts</span>
          </a>
          <div class="collapse" id="chartExamples">
            <ul class="nav flex-column ms-4">
              <li class="nav-item">
                <a class="nav-link link-secondary" aria-current="page" href="apex-charts.html">
                  <div class="nav-link-icon text-primary-emphasis">
                    <i class="bi bi-arrow-right-short"></i>
                  </div>
                  <span class="nav-link-text">Apex</span>
                </a>
              </li>
            </ul>
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link p-3" data-bs-toggle="collapse" href="#mapExamples" role="button" aria-expanded="false" aria-controls="mapExamples">
            <div class="nav-link-icon text-primary">
              <i class="bi bi-map"></i>
            </div>
            <span class="nav-link-text fw-bold">Maps</span>
          </a>
          <div class="collapse" id="mapExamples">
            <ul class="nav flex-column ms-4">
              <li class="nav-item">
                <a class="nav-link link-secondary" aria-current="page" href="jsvectormap-maps.html">
                  <div class="nav-link-icon text-primary-emphasis">
                    <i class="bi bi-arrow-right-short"></i>
                  </div>
                  <span class="nav-link-text">Vector Maps</span>
                </a>
              </li>
            </ul>
          </div>
        </li>
        <li class="nav-item mt-3">
          <h6 class="py-1 text-secondary text-uppercase fs-7">Extras</h6>
        </li>
        <li class="nav-item">
          <a class="nav-link p-3" data-bs-toggle="collapse" href="#pageExamples" role="button" aria-expanded="false" aria-controls="pageExamples">
            <div class="nav-link-icon text-primary">
              <i class="bi bi-folder"></i>
            </div>
            <span class="nav-link-text fw-bold">Pages</span>
          </a>
          <div class="collapse" id="pageExamples">
            <ul class="nav flex-column ms-4">
              <li class="nav-item">
                <a class="nav-link link-secondary" aria-current="page" href="pages-profile.html">
                  <div class="nav-link-icon text-primary-emphasis">
                    <i class="bi bi-arrow-right-short"></i>
                  </div>
                  <span class="nav-link-text">Profile</span>
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link link-secondary" aria-current="page" href="pages-invoice.html">
                  <div class="nav-link-icon text-primary-emphasis">
                    <i class="bi bi-arrow-right-short"></i>
                  </div>
                  <span class="nav-link-text">Invoice</span>
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link link-secondary" aria-current="page" href="pages-pricing.html">
                  <div class="nav-link-icon text-primary-emphasis">
                    <i class="bi bi-arrow-right-short"></i>
                  </div>
                  <span class="nav-link-text">Pricing</span>
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link link-secondary" aria-current="page" href="pages-contact.html">
                  <div class="nav-link-icon text-primary-emphasis">
                    <i class="bi bi-arrow-right-short"></i>
                  </div>
                  <span class="nav-link-text">Contact</span>
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link link-secondary" aria-current="page" href="pages-faqs.html">
                  <div class="nav-link-icon text-primary-emphasis">
                    <i class="bi bi-arrow-right-short"></i>
                  </div>
                  <span class="nav-link-text">FAQs</span>
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link link-secondary" aria-current="page" href="pages-blank.html">
                  <div class="nav-link-icon text-primary-emphasis">
                    <i class="bi bi-arrow-right-short"></i>
                  </div>
                  <span class="nav-link-text">Blank</span>
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link link-secondary" aria-current="page" href="pages-error-404.html">
                  <div class="nav-link-icon text-primary-emphasis">
                    <i class="bi bi-arrow-right-short"></i>
                  </div>
                  <span class="nav-link-text">Error 404</span>
                </a>
              </li>
            </ul>
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link p-3" data-bs-toggle="collapse" href="#authExamples" role="button" aria-expanded="false" aria-controls="authExamples">
            <div class="nav-link-icon text-primary">
              <i class="bi bi-gear"></i>
            </div>
            <span class="nav-link-text fw-bold">Authentication</span>
          </a>
          <div class="collapse" id="authExamples">
            <ul class="nav flex-column ms-4">
              <li class="nav-item">
                <a class="nav-link link-secondary" aria-current="page" href="auth-login.html">
                  <div class="nav-link-icon text-primary-emphasis">
                    <i class="bi bi-arrow-right-short"></i>
                  </div>
                  <span class="nav-link-text">Log In</span>
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link link-secondary" aria-current="page" href="auth-register.html">
                  <div class="nav-link-icon text-primary-emphasis">
                    <i class="bi bi-arrow-right-short"></i>
                  </div>
                  <span class="nav-link-text">Register</span>
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link link-secondary" aria-current="page" href="auth-reset-password.html">
                  <div class="nav-link-icon text-primary-emphasis">
                    <i class="bi bi-arrow-right-short"></i>
                  </div>
                  <span class="nav-link-text">Reset Password</span>
                </a>
              </li>
            </ul>
          </div>
        </li>
      </ul>
      <hr class="sidebar-divider my-4">
      <div class="bg-light rounded-3 position-relative px-4 pt-5 pb-4 mt-7">
        <div class="bsb-w-80 bsb-h-80 d-flex align-items-center justify-content-center text-bg-primary border border-5 border-white rounded-circle position-absolute top-0 start-50 translate-middle">
          <i class="bi bi-rocket-takeoff lh-1 fs-3"></i>
        </div>
        <div class="text-center">
          <h3 class="h5">Admin Dashboard Templates</h3>
          <p class="fs-7">Browse our Admin Dashboard Templates to unlock possibilities and enjoy exclusive features that will transform your projects to the next level.</p>
          <div class="d-grid m-0">
            <a class="btn btn-primary rounded-pill" href="https://bootstrapbrain.com/template-category/admin-dashboard/" target="_blank" role="button">Browse</a>
          </div>
        </div>
      </div>
    </div>
  </aside>

  <!-- Footer -->
  <footer class="footer py-3 border-top border-light-subtle">
    <div class="container">
      <div class="row">
        <div class="col">
          <div class="py-3">
            Built by <a href="https://bootstrapbrain.com/" class="link-secondary text-decoration-none">BootstrapBrain</a> with <span class="text-accent">&#9829;</span>
          </div>
        </div>
      </div>
    </div>
  </footer>

  <!-- Javascript Files: Vendors -->
  <script src="https://unpkg.com/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>

  <!-- Javascript Files: Controllers -->
  <script src="./assets/controller/console-bsb.js"></script>

  <!-- BSB Body End -->
</body>

</html>
