<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <title>Invoice</title>
</head>
<body>
<h1>Transaction Invoice</h1>
<p><strong>Transaction ID:</strong> {{ transaction.transaction_id }}</p>
<p><strong>Amount Paid:</strong> KES {{ transaction.amount }}</p>
<p><strong>Status:</strong> {{ transaction.status }}</p>
<p><strong>Phone Number:</strong> {{ transaction.phone_number }}</p>
<p><strong>Date of Transaction:</strong> {{ transaction.date_created }}</p>
</body>
</html>
