<!doctype html>
{% load static %}
{% load crispy_forms_tags %}

<html lang="en">

<head>
    <!-- Required Meta Tags -->
    <meta charset="utf-8">
    <meta name="google-adsense-account" content="ca-pub-7500012205346003">
    <meta content="width=device-width, initial-scale=1" name="viewport">

    <!-- Document Title, Description, and Author -->
    <title>Christian Outreach Church</title>
    <meta content="Console is a Free Bootstrap Admin Template." name="description">
    <meta content="BootstrapBrain" name="author">

    <!-- Favicon and Touch Icons -->
    <link href="{% static 'img/crout.webp' %}" rel="icon" sizes="512x512" type="image/png">

    <!-- Google Fonts Files -->
    <link href="https://fonts.googleapis.com" rel="preconnect">
    <link crossorigin href="https://fonts.gstatic.com" rel="preconnect">
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap"
          rel="stylesheet">
    <link href="{% static 'css/home_icon.css' %}" rel="stylesheet">
    <!-- CSS Files -->
    <link href="{% static 'assets/css/console-bsb.css' %}" rel="stylesheet">
    <link href="{% static 'assets/css/settings_privacy.css' %}" rel="stylesheet">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/jsvectormap/dist/css/jsvectormap.min.css" rel="stylesheet">

    <!-- ads-->
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-7500012205346003"
     crossorigin="anonymous">

    </script>
    <script async crossorigin="anonymous"
            src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-7500012205346003"></script>
    <!-- end f adds -->

    <!-- BSB Head -->
</head>

<body>

<!-- Header -->
<header class="bg-white border-bottom border-light-subtle sticky-top bsb-tpl-header-sticky" id="header">
    <nav class="navbar navbar-expand-md bsb-navbar-3 bsb-tpl-navbar-sticky" data-bsb-sticky-target="#header">
        <div class="container">
            <ul class="navbar-nav">
                <li class="nav-item me-3">
                    <a aria-controls="bsbSidebar1" class="nav-link" data-bs-target="#bsbSidebar1" data-bs-toggle="offcanvas"
                       href="#!">
                        <i class="bi-filter-left fs-3 lh-1"></i>
                    </a>
                </li>
            </ul>
            <a class="navbar-brand" href="{% url 'videos:category_list' %}">
                <img alt="Christian Outreach Logo" class="bsb-tpl-logo" height="30" src="{% static 'img/crout.webp' %}"
                     width="50"><span>CROUT</span>
            </a>
            <button aria-controls="bsbNavbar" aria-label="Toggle Navigation" class="navbar-toggler border-0" data-bs-target="#bsbNavbar"
                    data-bs-toggle="collapse" type="button">
                <i class="bi bi-three-dots"></i>
            </button>
            <div class="collapse navbar-collapse" id="bsbNavbar">
                <ul class="navbar-nav bsb-dropdown-menu-responsive ms-auto align-items-center">
                    <li class="nav-item dropdown">
                        <a aria-expanded="false"
                           class="nav-link dropdown-toggle bsb-dropdown-toggle-caret-disable" data-bs-toggle="dropdown" href="{% url 'videos:video_search' %}"
                           role="button">
                <span class="position-relative">
                  <i class="bi bi-search"></i>
                </span>
                        </a>
                        <div class="dropdown-menu dropdown-menu-md-end bsb-dropdown-animation bsb-fadeIn">
                            <form action="{% url 'videos:video_search' %}" class="row g-1 px-3 py-2 align-items-center"
                                  method="get">
                                {% csrf_token %}
                                <div class="col-8">
                                    {{ form.query }}
                                </div>
                                <div class="col-8">
                                    <input class="form-control" id="form" type="text">
                                </div>
                                <div class="col-4">
                                    <button class="btn btn-primary" type="submit">Search</button>
                                </div>
                            </form>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a aria-expanded="false" class="nav-link dropdown-toggle bsb-dropdown-toggle-caret-disable" data-bs-toggle="dropdown"
                           href="#" role="button">
                <span class="position-relative">
                  <i class="bi bi-globe"></i>
                </span>
                        </a>
                        <div class="dropdown-menu dropdown-menu-md-end bsb-dropdown-sm bsb-dropdown-animation bsb-fadeIn">
                            <div>
                                <h6 class="dropdown-header fs-7 text-center">Multilingual</h6>
                            </div>
                            <div>
                                <hr class="dropdown-divider mb-0">
                            </div>
                            <div class="list-group list-group-flush">
                                <a aria-current="true" class="list-group-item list-group-item-action" href="#!">
                                    <div class="row g-0 align-items-center">
                                        <div class="col-2">
                                            <img alt="Arabic"
                                                 class="img-fluid rounded-pill" src="{% static 'assets/img/translation/flag-img-1.svg' %}">
                                        </div>
                                        <div class="col-10">
                                            <div class="ps-3">
                                                <div class="fs-7">Arabic</div>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                                <a aria-current="true" class="list-group-item list-group-item-action" href="#!">
                                    <div class="row g-0 align-items-center">
                                        <div class="col-2">
                                            <img alt="Chinese"
                                                 class="img-fluid rounded-pill" src="{% static 'assets/img/translation/flag-img-2.svg' %}">
                                        </div>
                                        <div class="col-10">
                                            <div class="ps-3">
                                                <div class="fs-7">Chinese</div>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                                <a aria-current="true" class="list-group-item list-group-item-action active" href="#!">
                                    <div class="row g-0 align-items-center">
                                        <div class="col-2">
                                            <img alt="English"
                                                 class="img-fluid rounded-pill" src="{% static 'assets/img/translation/flag-img-3.svg' %}">
                                        </div>
                                        <div class="col-10">
                                            <div class="ps-3">
                                                <div class="fs-7">English</div>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                                <a aria-current="true" class="list-group-item list-group-item-action" href="#!">
                                    <div class="row g-0 align-items-center">
                                        <div class="col-2">
                                            <img alt="French"
                                                 class="img-fluid rounded-pill" src="{% static 'assets/img/translation/flag-img-4.svg' %}">
                                        </div>
                                        <div class="col-10">
                                            <div class="ps-3">
                                                <div class="fs-7">French</div>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </div>
                            <div>
                                <hr class="dropdown-divider mt-0">
                            </div>
                            <div>
                                <a class="dropdown-item fs-7 text-center" href="#!">See All Languages</a>
                            </div>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a aria-expanded="false" class="nav-link dropdown-toggle bsb-dropdown-toggle-caret-disable" data-bs-toggle="dropdown"
                           href="#" role="button">
                <span class="position-relative pt-1">
                  <i class="bi bi-camera-video"></i>
                  <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-accent">
                    9
                    <span class="visually-hidden">New Chats</span>
                  </span>
                </span>
                        </a>
                        <div class="dropdown-menu dropdown-menu-md-end bsb-dropdown-animation bsb-fadeIn">
                            <div>
                                <h6 class="dropdown-header fs-7 text-center">Create Content</h6>
                            </div>
                            <div>
                                <hr class="dropdown-divider mb-0">
                            </div>
                            <div class="list-group list-group-flush">
                                <a aria-current="true"
                                   class="list-group-item list-group-item-action" href="{% url 'videos:create_content' %}">
                                    <div class="row g-0 align-items-center">
                                        <div class="col-2">
                                            <i class="bi bi-youtube"></i>
                                        </div>
                                        <div class="col-10">
                                            <div class="ps-3">
                                                <div class="text-dark">UPLOAD</div>
                                                <div class="text-secondary mt-1 fs-7">Select select from your PC</div>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                                <a class="list-group-item list-group-item-action"
                                   href="{% url 'videos:record_video' %}">
                                    <div class="row g-0 align-items-center">
                                        <div class="col-2">
                                            <svg class="bi bi-camera-reels" fill="currentColor" height="16"
                                                 viewBox="0 0 16 16" width="16" xmlns="http://www.w3.org/2000/svg">
                                                <path d="M6 3a3 3 0 1 1-6 0 3 3 0 0 1 6 0M1 3a2 2 0 1 0 4 0 2 2 0 0 0-4 0"/>
                                                <path d="M9 6h.5a2 2 0 0 1 1.983 1.738l3.11-1.382A1 1 0 0 1 16 7.269v7.462a1 1 0 0 1-1.406.913l-3.111-1.382A2 2 0 0 1 9.5 16H2a2 2 0 0 1-2-2V8a2 2 0 0 1 2-2zm6 8.73V7.27l-3.5 1.555v4.35zM1 8v6a1 1 0 0 0 1 1h7.5a1 1 0 0 0 1-1V8a1 1 0 0 0-1-1H2a1 1 0 0 0-1 1"/>
                                                <path d="M9 6a3 3 0 1 0 0-6 3 3 0 0 0 0 6M7 3a2 2 0 1 1 4 0 2 2 0 0 1-4 0"/>
                                            </svg>
                                        </div>
                                        <div class="col-10">
                                            <div class="ps-3">
                                                <div class="text-dark">Record</div>
                                                <div class="text-secondary mt-1 fs-7">Record using your camera</div>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </div>
                            <div>
                                <hr class="dropdown-divider mt-0">
                            </div>
                            <div>
                                <a class="dropdown-item fs-7 text-center" href="#!">Go Live</a>
                            </div>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a aria-expanded="false" class="nav-link dropdown-toggle bsb-dropdown-toggle-caret-disable" data-bs-toggle="dropdown"
                           href="#" role="button">
                <span class="position-relative pt-1">
                  <i class="bi bi-bell"></i>
                  <span class="p-1 bg-accent border border-light rounded-circle position-absolute top-0 start-100 translate-middle">
                    <span class="visually-hidden">New Notifications</span>
                  </span>
                </span>
                        </a>
                        <ul class="dropdown-menu dropdown-menu-md-end bsb-dropdown-animation bsb-fadeIn">
                            <li>
                                <h6 class="dropdown-header fs-7 text-center">{{ notifications.count }}<span>Notifications</span>
                                </h6>
                            </li>
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            <li>
                                <a class="dropdown-item d-flex align-items-center" href="#!">
                    <span>
                      <i class="bi bi-envelope-fill me-2"></i>
                      <span class="fs-7">Email Notifications</span>
                    </span>
                                    <span class="fs-7 ms-auto text-secondary">5 mins</span>
                                </a>
                            </li>
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            <li>
                                <a class="dropdown-item d-flex align-items-center" href="#!">
                    <span>
                      <i class="bi bi-person-fill me-2"></i>
                      <span class="fs-7">Account Notifications</span>
                    </span>
                                    <span class="fs-7 ms-auto text-secondary">17 hours</span>
                                </a>
                            </li>
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            <li>
                                <a class="dropdown-item d-flex align-items-center"
                                   href="{% url 'notifications:video_notifications' %}">
                    <span>
                      <i class="bi bi-file-earmark-fill me-2"></i>
                      <span class="fs-7">Video Notifications</span>
                    </span>
                                    <span class="fs-7 ms-auto text-secondary">{{ notification.date_created }}</span>
                                </a>
                            </li>
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            <li><a class="dropdown-item fs-7 text-center"
                                   href="{% url 'notifications:notifications' %}">See All Notifications</a></li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown">
                        <a aria-expanded="false" class="nav-link dropdown-toggle bsb-dropdown-toggle-caret-disable" data-bs-toggle="dropdown"
                           href="#" role="button">
                            <img alt="...e" class="img-fluid rounded-circle" height="35" src="{{ user.google_picture }}"
                                 width="35">
                        </a>
                        <ul class="dropdown-menu dropdown-menu-md-end bsb-dropdown-animation bsb-fadeIn">
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            <li>
                                <a aria-current="true" class="dropdown-item" href="{% url 'account_email' %}">
                                    <div class="row g-0 align-items-center">
                                        <div class="col-3">
                                            <img alt="Google User Photo" class="img-fluid rounded-circle" height="55"
                                                 src="{{ user.google_picture }}" width="55">
                                        </div>
                                        <div class="col-9">
                                            <div class="ps-3">
                                                <div class="text-secondary mt-1 fs-7">Premium Account</div>
                                                <div class="text-secondary mt-1 fs-7">{{ user.username }}</div>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            <li>
                                <a class="dropdown-item" href="{% url 'accounts:profile' %}">
                    <span>
                      <i class="bi bi-person-fill me-2"></i>
                      <span class="fs-7">View Profile</span>
                    </span>
                                </a>
                            </li>
                            <li>
                                <a class="dropdown-item" href="{% url 'notifications:notifications' %}">
                    <span>
                      <i class="bi bi-bell-fill me-2"></i>
                      <span class="fs-7">Notifications</span>
                    </span>
                                </a>
                            </li>
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            <li>
                                <a class="dropdown-item" href="{% url 'accounts:accounts_settings_and_privacy' %}">
                    <span>
                      <i class="bi bi-gear-fill me-2"></i>
                      <span class="fs-7">Settings & Privacy</span>
                    </span>
                                </a>
                            </li>
                            <li>
                                <a class="dropdown-item" href="{% url 'home:frequently_asked_questions' %}">
                    <span>
                      <i class="bi bi-question-circle-fill me-2"></i>
                      <span class="fs-7">Help Center</span>
                    </span>
                                </a>
                            </li>
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            <li>
                                <a class="dropdown-item text-center" href="{% url 'account_logout' %}">
                    <span>
                      <span class="fs-7">Log Out</span>
                    </span>
                                </a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>

<!-- Main -->
<main id="main">

    <!-- Aside -->
    <aside aria-labelledby="bsbSidebarLabel1" class="bsb-sidebar-1 offcanvas offcanvas-start" id="bsbSidebar1"
           tabindex="-1">
        <div class="offcanvas-header">
            <a class="sidebar-brand" href="{% url 'videos:category_list' %}">
                <img alt="Christian Outreach Church Logo" class="bsb-tpl-logo" id="bsbSidebarLabel1"
                     src="{% static 'img/crout.webp' %}"><span>CROUT</span>
            </a>
            <button aria-label="Close" class="btn-close" data-bs-dismiss="offcanvas" type="button"></button>
        </div>
        <div class="offcanvas-body pt-0">
            <hr class="sidebar-divider mb-3">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a aria-controls="dashboardExamples" aria-expanded="true"
                       class="nav-link p-3 bg-light rounded active" data-bs-toggle="collapse" href="{% url 'videos:category_list' %}"
                       role="button">
                        <div class="nav-link-icon text-primary">
                            <img alt="Home Icon" class="icon-home" src="{% static 'img/home.webp' %}"/>


                        </div>
                        <span class="nav-link-text fw-bold">Home</span>
                    </a>
                    <div class="collapse show" id="dashboardExamples">
                        <ul class="nav flex-column ms-4">
                            <li class="nav-item">
                                <a aria-current="page" class="nav-link link-primary active"
                                   href="{% url 'videos:category_list' %}">
                                    <div class="nav-link-icon text-primary-emphasis">
                                        <i class="bi bi-arrow-right-short"></i>
                                    </div>
                                    <span class="nav-link-text">categories</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </li>
                <hr>
                <li class="nav-item mt-3">
                    <h6 class="py-1 text-secondary text-uppercase fs-7">CATEGORIES</h6>
                </li>
                <li class="nav-item">
                    <a aria-controls="componentExamples" aria-expanded="false" class="nav-link p-3" data-bs-toggle="collapse"
                       href="#componentExamples" role="button">
                        <div class="nav-link-icon text-primary">
                            <i class="bi bi-menu-button-wide-fill"></i>
                        </div>
                        <span class="nav-link-text fw-bold">Components</span>
                    </a>
                    <div class="collapse" id="componentExamples">
                        <ul class="nav flex-column ms-4">
                            <li class="nav-item">
                                <a aria-current="page" class="nav-link link-secondary"
                                   href="{% url 'dashboard:accordion' %}">
                                    <div class="nav-link-icon text-primary-emphasis">
                                        <i class="bi bi-arrow-right-short"></i>
                                    </div>
                                    <span class="nav-link-text">Accordion</span>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a aria-current="page" class="nav-link link-secondary"
                                   href="{% url 'dashboard:components_alerts' %}">
                                    <div class="nav-link-icon text-primary-emphasis">
                                        <i class="bi bi-arrow-right-short"></i>
                                    </div>
                                    <span class="nav-link-text">Alerts</span>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a aria-current="page" class="nav-link link-secondary"
                                   href="{% url 'dashboard:components_buttons' %}">
                                    <div class="nav-link-icon text-primary-emphasis">
                                        <i class="bi bi-arrow-right-short"></i>
                                    </div>
                                    <span class="nav-link-text">Buttons</span>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a aria-current="page" class="nav-link link-secondary"
                                   href="{% url 'dashboard:components_cards' %}">
                                    <div class="nav-link-icon text-primary-emphasis">
                                        <i class="bi bi-arrow-right-short"></i>
                                    </div>
                                    <span class="nav-link-text">Card</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </li>
                <li class="nav-item">
                    <a aria-controls="formExamples" aria-expanded="false" class="nav-link p-3" data-bs-toggle="collapse"
                       href="#formExamples" role="button">
                        <div class="nav-link-icon text-primary">
                            <i class="bi bi-ui-radios"></i>
                        </div>
                        <span class="nav-link-text fw-bold">Forms</span>
                    </a>
                    <div class="collapse" id="formExamples">
                        <ul class="nav flex-column ms-4">
                            <li class="nav-item">
                                <a aria-current="page" class="nav-link link-secondary"
                                   href="{% url 'dashboard:forms_layouts' %}">
                                    <div class="nav-link-icon text-primary-emphasis">
                                        <i class="bi bi-arrow-right-short"></i>
                                    </div>
                                    <span class="nav-link-text">Layouts</span>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a aria-current="page" class="nav-link link-secondary"
                                   href="{% url 'dashboard:forms_validation' %}">
                                    <div class="nav-link-icon text-primary-emphasis">
                                        <i class="bi bi-arrow-right-short"></i>
                                    </div>
                                    <span class="nav-link-text">Validation</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </li>
                <li class="nav-item">
                    <a aria-controls="iconExamples" aria-expanded="false" class="nav-link p-3" data-bs-toggle="collapse"
                       href="#iconExamples" role="button">
                        <div class="nav-link-icon text-primary">
                            <i class="bi bi-flower2"></i>
                        </div>
                        <span class="nav-link-text fw-bold">Icons</span>
                    </a>
                    <div class="collapse" id="iconExamples">
                        <ul class="nav flex-column ms-4">
                            <li class="nav-item">
                                <a aria-current="page" class="nav-link link-secondary"
                                   href="{% url 'dashboard:icons' %}">
                                    <div class="nav-link-icon text-primary-emphasis">
                                        <i class="bi bi-arrow-right-short"></i>
                                    </div>
                                    <span class="nav-link-text">Bootstrap</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </li>
                <li class="nav-item">
                    <a aria-controls="tableExamples" aria-expanded="false" class="nav-link p-3" data-bs-toggle="collapse"
                       href="#tableExamples" role="button">
                        <div class="nav-link-icon text-primary">
                            <i class="bi bi-layout-text-window-reverse"></i>
                        </div>
                        <span class="nav-link-text fw-bold">Tables</span>
                    </a>
                    <div class="collapse" id="tableExamples">
                        <ul class="nav flex-column ms-4">
                            <li class="nav-item">
                                <a aria-current="page" class="nav-link link-secondary"
                                   href="{% url 'dashboard:tables' %}">
                                    <div class="nav-link-icon text-primary-emphasis">
                                        <i class="bi bi-arrow-right-short"></i>
                                    </div>
                                    <span class="nav-link-text">Basic</span>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a aria-current="page" class="nav-link link-secondary"
                                   href="{% url 'dashboard:table_accented' %}">
                                    <div class="nav-link-icon text-primary-emphasis">
                                        <i class="bi bi-arrow-right-short"></i>
                                    </div>
                                    <span class="nav-link-text">Accented</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </li>
                <li class="nav-item mt-3">
                    <h6 class="py-1 text-secondary text-uppercase fs-7">YOUR ACCOUNT</h6>
                </li>
                <li class="nav-item">
                    <a aria-controls="cardExamples" aria-expanded="false" class="nav-link p-3" data-bs-toggle="collapse"
                       href="#cardExamples" role="button">
                        <div class="nav-link-icon text-primary">
                            <i class="bi bi-card-heading"></i>
                        </div>
                        <span class="nav-link-text fw-bold">Cards</span>
                    </a>
                    <div class="collapse" id="cardExamples">
                        <ul class="nav flex-column ms-4">
                            <li class="nav-item">
                                <a aria-current="page" class="nav-link link-secondary"
                                   href="{% url 'dashboard:cards_stats' %}">
                                    <div class="nav-link-icon text-primary-emphasis">
                                        <i class="bi bi-arrow-right-short"></i>
                                    </div>
                                    <span class="nav-link-text">Stats</span>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a aria-current="page" class="nav-link link-secondary"
                                   href="{% url 'dashboard:cards_tables' %}">
                                    <div class="nav-link-icon text-primary-emphasis">
                                        <i class="bi bi-arrow-right-short"></i>
                                    </div>
                                    <span class="nav-link-text">Tables</span>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a aria-current="page" class="nav-link link-secondary"
                                   href="{% url 'dashboard:cards_timelines' %}">
                                    <div class="nav-link-icon text-primary-emphasis">
                                        <i class="bi bi-arrow-right-short"></i>
                                    </div>
                                    <span class="nav-link-text">Timelines</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </li>
                <li class="nav-item">
                    <a aria-controls="calendarExamples" aria-expanded="false" class="nav-link p-3" data-bs-toggle="collapse"
                       href="#calendarExamples" role="button">
                        <div class="nav-link-icon text-primary">
                            <i class="bi bi-calendar-event"></i>
                        </div>
                        <span class="nav-link-text fw-bold">Calendars</span>
                    </a>
                    <div class="collapse" id="calendarExamples">
                        <ul class="nav flex-column ms-4">
                            <li class="nav-item">
                                <a aria-current="page" class="nav-link link-secondary"
                                   href="{% url 'dashboard:calendars_basic' %}">
                                    <div class="nav-link-icon text-primary-emphasis">
                                        <i class="bi bi-arrow-right-short"></i>
                                    </div>
                                    <span class="nav-link-text">Basic</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </li>
                <li class="nav-item">
                    <a aria-controls="chartExamples" aria-expanded="false" class="nav-link p-3" data-bs-toggle="collapse"
                       href="#chartExamples" role="button">
                        <div class="nav-link-icon text-primary">
                            <i class="bi bi-bar-chart"></i>
                        </div>
                        <span class="nav-link-text fw-bold">Charts</span>
                    </a>
                    <div class="collapse" id="chartExamples">
                        <ul class="nav flex-column ms-4">
                            <li class="nav-item">
                                <a aria-current="page" class="nav-link link-secondary"
                                   href="{% url 'dashboard:apex_charts' %}">
                                    <div class="nav-link-icon text-primary-emphasis">
                                        <i class="bi bi-arrow-right-short"></i>
                                    </div>
                                    <span class="nav-link-text">Apex</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </li>
                <li class="nav-item">
                    <a aria-controls="mapExamples" aria-expanded="false" class="nav-link p-3" data-bs-toggle="collapse"
                       href="#mapExamples" role="button">
                        <div class="nav-link-icon text-primary">
                            <i class="bi bi-map"></i>
                        </div>
                        <span class="nav-link-text fw-bold">Maps</span>
                    </a>
                    <div class="collapse" id="mapExamples">
                        <ul class="nav flex-column ms-4">
                            <li class="nav-item">
                                <a aria-current="page" class="nav-link link-secondary"
                                   href="{% url 'dashboard:js_vecto_rmap_maps' %}">
                                    <div class="nav-link-icon text-primary-emphasis">
                                        <i class="bi bi-arrow-right-short"></i>
                                    </div>
                                    <span class="nav-link-text">Vector Maps</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </li>
                <li class="nav-item mt-3">
                    <h6 class="py-1 text-secondary text-uppercase fs-7">COMMITMENTS</h6>
                </li>
                <li class="nav-item">
                    <a aria-controls="pageExamples" aria-expanded="false" class="nav-link p-3" data-bs-toggle="collapse"
                       href="#pageExamples" role="button">
                        <div class="nav-link-icon text-primary">
                            <i class="bi bi-folder"></i>
                        </div>
                        <span class="nav-link-text fw-bold">Pages</span>
                    </a>
                    <div class="collapse" id="pageExamples">
                        <ul class="nav flex-column ms-4">
                            <li class="nav-item">
                                <a aria-current="page" class="nav-link link-secondary"
                                   href="{% url 'accounts:profile' %}">
                                    <div class="nav-link-icon text-primary-emphasis">
                                        <i class="bi bi-arrow-right-short"></i>
                                    </div>
                                    <span class="nav-link-text">Profile</span>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a aria-current="page" class="nav-link link-secondary"
                                   href="{% url 'dashboard:pages_invoice' %}">
                                    <div class="nav-link-icon text-primary-emphasis">
                                        <i class="bi bi-arrow-right-short"></i>
                                    </div>
                                    <span class="nav-link-text">Invoice</span>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a aria-current="page" class="nav-link link-secondary"
                                   href="{% url 'dashboard:pages_pricing' %}">
                                    <div class="nav-link-icon text-primary-emphasis">
                                        <i class="bi bi-arrow-right-short"></i>
                                    </div>
                                    <span class="nav-link-text">Pricing</span>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a aria-current="page" class="nav-link link-secondary"
                                   href="{% url 'dashboard:pages_contact'%}">
                                    <div class="nav-link-icon text-primary-emphasis">
                                        <i class="bi bi-arrow-right-short"></i>
                                    </div>
                                    <span class="nav-link-text">Contact</span>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a aria-current="page" class="nav-link link-secondary"
                                   href="{% url 'dashboard:pages_faqs' %}">
                                    <div class="nav-link-icon text-primary-emphasis">
                                        <i class="bi bi-arrow-right-short"></i>
                                    </div>
                                    <span class="nav-link-text">FAQs</span>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a aria-current="page" class="nav-link link-secondary"
                                   href="{% url 'dashboard:pages_blank' %}">
                                    <div class="nav-link-icon text-primary-emphasis">
                                        <i class="bi bi-arrow-right-short"></i>
                                    </div>
                                    <span class="nav-link-text">Blank</span>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a aria-current="page" class="nav-link link-secondary" href="{% url 'dashboard:404' %}">
                                    <div class="nav-link-icon text-primary-emphasis">
                                        <i class="bi bi-arrow-right-short"></i>
                                    </div>
                                    <span class="nav-link-text">Error 404</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </li>
                <li class="nav-item">
                    <a aria-controls="authExamples" aria-expanded="false" class="nav-link p-3" data-bs-toggle="collapse"
                       href="#authExamples" role="button">
                        <div class="nav-link-icon text-primary">
                            <i class="bi bi-gear"></i>
                        </div>
                        <span class="nav-link-text fw-bold">Authentication</span>
                    </a>
                    <div class="collapse" id="authExamples">
                        <ul class="nav flex-column ms-4">
                            <li class="nav-item">
                                <a aria-current="page" class="nav-link link-secondary"
                                   href="{% url 'dashboard:login' %}">
                                    <div class="nav-link-icon text-primary-emphasis">
                                        <i class="bi bi-arrow-right-short"></i>
                                    </div>
                                    <span class="nav-link-text">Log In</span>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a aria-current="page" class="nav-link link-secondary"
                                   href="{% url 'dashboard:register' %}">
                                    <div class="nav-link-icon text-primary-emphasis">
                                        <i class="bi bi-arrow-right-short"></i>
                                    </div>
                                    <span class="nav-link-text">Register</span>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a aria-current="page" class="nav-link link-secondary"
                                   href="{% url 'dashboard:forgot_password' %}">
                                    <div class="nav-link-icon text-primary-emphasis">
                                        <i class="bi bi-arrow-right-short"></i>
                                    </div>
                                    <span class="nav-link-text">Reset Password</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </li>
            </ul>
            <hr class="sidebar-divider my-4">
            <div class="bg-light rounded-3 position-relative px-4 pt-5 pb-4 mt-7">
                <div class="bsb-w-80 bsb-h-80 d-flex align-items-center justify-content-center text-bg-primary border border-5 border-white rounded-circle position-absolute top-0 start-50 translate-middle">
                    <i class="bi bi-rocket-takeoff lh-1 fs-3"></i>
                </div>
                <div class="text-center">
                    <h3 class="h5">Admin Dashboard </h3>
                    <p class="fs-7">Browse our Admin Dashboard Templates to unlock possibilities and enjoy exclusive
                        features that will transform your projects to the next level.</p>
                    <div class="d-grid m-0">
                        <a class="btn btn-primary rounded-pill" href="{% url 'payments:request_service' %}"
                           role="button" target="_blank">Upgrade</a>
                    </div>
                </div>
            </div>
        </div>
    </aside>
    {% block content %}
    {% endblock content %}

    <!-- Javascript Files: Vendors -->
    <script src="https://unpkg.com/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
    <script src="https://cdn.jsdelivr.net/npm/jsvectormap"></script>
    <script src="https://cdn.jsdelivr.net/npm/jsvectormap/dist/maps/world-merc.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/fullcalendar@6.1.9/index.global.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@fullcalendar/bootstrap5@6.1.9/index.global.min.js"></script>

    <!-- Javascript Files: Controllers -->
    <script src="{% static 'assets/controller/console-bsb.js' %}"></script>
    <script src="{% static 'assets/controller/chart-1.js' %}"></script>
    <script src="{% static 'assets/controller/chart-3.js' %}"></script>
    <script src="{% static 'assets/controller/chart-4.js' %}"></script>
    <script src="{% static 'assets/controller/map-2.js' %}"></script>
    <script src="{% static 'assets/controller/calendar-1.js' %}"></script>

    <!-- BSB Body End -->
</main>
</body>

</html>
