{% load static %}
<li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle bsb-dropdown-toggle-caret-disable" href="#" role="button"
       data-bs-toggle="dropdown" aria-expanded="false">
                <span class="position-relative pt-1">
                  <i class="bi bi-chat-left"></i>
                  <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-accent">
                    9
                    <span class="visually-hidden">New Chats</span>
                  </span>
                </span>
    </a>
    <div class="dropdown-menu dropdown-menu-md-end bsb-dropdown-animation bsb-fadeIn">
        <div>
            <h6 class="dropdown-header fs-7 text-center">9 New Messages</h6>
        </div>
        <div>
            <hr class="dropdown-divider mb-0">
        </div>
        <div class="list-group list-group-flush">
            <a href="#!" class="list-group-item list-group-item-action" aria-current="true">
                <div class="row g-0 align-items-center">
                    <div class="col-2">
                        <img src="{% static 'assets/img/chat/chat-img-1.jpg' %}" class="img-fluid rounded-circle"
                             alt="Luna John">
                    </div>
                    <div class="col-10">
                        <div class="ps-3">
                            <div class="text-dark">Luna John</div>
                            <div class="text-secondary mt-1 fs-7">Hello, I'm having trouble with my account.</div>
                            <div class="text-secondary mt-1 fs-7">15m ago</div>
                        </div>
                    </div>
                </div>
            </a>
            <a href="#!" class="list-group-item list-group-item-action">
                <div class="row g-0 align-items-center">
                    <div class="col-2">
                        <img src="{% static 'assets/img/chat/chat-img-2.jpg' %}" class="img-fluid rounded-circle"
                             alt="Mark Smith">
                    </div>
                    <div class="col-10">
                        <div class="ps-3">
                            <div class="text-dark">Mark Smith</div>
                            <div class="text-secondary mt-1 fs-7">Hi, I'm not able to change my password.</div>
                            <div class="text-secondary mt-1 fs-7">23m ago</div>
                        </div>
                    </div>
                </div>
            </a>
        </div>
        <div>
            <hr class="dropdown-divider mt-0">
        </div>
        <div>
            <a class="dropdown-item fs-7 text-center" href="#!">See All Messages</a>
        </div>
    </div>
</li>