{% extends 'base_dashboard.html' %}

{% block content %}
<div class="container">
    <h1 class="text-center">Your Video Notifications</h1>
    <h6>{{ video_notifications_count }}</h6>

    {% if video_notifications %}
    <ul>
        {% for notification in video_notification %}
        <li>
            <strong>{{ notification.message }}</strong><br>
            <small>{{ notification.date_created }}</small>
            {% if not notification.is_read %}
            <span style="color: red;">(Unread)</span>
            {% else %}
            <span style="color: green;">(read)</span>

            {% endif %}
        </li>
        {% endfor %}
    </ul>
    {% else %}
    <p>No notifications available.</p>
    {% endif %}
</div>
{% endblock %}
